@page "/delete"
@inherits Pages.Identity.DeleteBase;
<h3>Delete</h3>
<AuthorizeView Policy="DeletePolicy">
    <Authorized>
        <span class="oi oi-lock-unlocked" height="500" />
    </Authorized>
    <NotAuthorized>
        <span class="oi oi-lock-locked" height="500" />
    </NotAuthorized>
</AuthorizeView>
