@page "/edit"
@inherits Pages.Identity.EditBase;
<h3>Edit</h3>
<AuthorizeView Policy="EditPolicy">
    <Authorized>
        <span class="oi oi-lock-unlocked" height="500" />
    </Authorized>
    <NotAuthorized>
        <span class="oi oi-lock-locked" height="500" />
    </NotAuthorized>
</AuthorizeView>
