@page "/edit"
@inherits Pages.Identity.EditBase;
<h3>Edit</h3>
<AuthorizeView Policy="Api2.*.Edit*">
    <Authorized>
        <img src="/open-iconic/svg/lock-unlocked.svg" height="500">
    </Authorized>
    <NotAuthorized>
        <img src="/open-iconic/svg/lock-locked.svg" height="500">
    </NotAuthorized>
</AuthorizeView>
