@page "/get"
@inherits Pages.Identity.GetBase;
<h3>Get</h3>
<AuthorizeView Policy="GetPolicy">
    <Authorized>
        <span class="oi oi-lock-unlocked" height="500"/>
    </Authorized>
    <NotAuthorized>
        <span class="oi oi-lock-locked" height="500" />
    </NotAuthorized>
</AuthorizeView>
